        </main>

        <footer class="site-footer">
          <span>© 2026 Bright World Technologies. All rights reserved.</span>
          <span>Portal Version 1.0.0</span>
        </footer>
      </div>
    </div>

    <%- include('./scripts') %>
  </body>
</html>