<nav class="site-nav">
  <a href="/">Portal Hub</a>
  <a href="/portals/management">Management</a>
  <a href="/portals/tech">Tech</a>
  <a href="/portals/warehouse">Warehouse</a>
  <a href="/portals/sales">Sales</a>
</nav>
