<%- include('../partials/layout-start', {
  pageTitle: 'Tech Units',
  topbarTitle: 'Tech Units',
  activeNav: 'tech'
}) %>

<div class="page-stack">
  <%- include('../partials/unit-search', { categories }) %>
</div>

<%- include('../partials/unit-modal') %>

<%- include('../partials/layout-end') %>